/* Golbal styling  */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}


/* Styling of the Navbar made by Sule  */



/* End of the Navbar */

/* ********************************************************************************************** */

/* Styling of the Home Section made by Firas*/



/* End of the Home Section*/

/* ********************************************************************************************** */

/* Styling of what-to-do Section made by Nasser  */


/*End of what-to-do Section */

/* ********************************************************************************************** */

/* Styling of pricing-table Section made by Taha */



/* End of pricing-table Section */

/* ********************************************************************************************** */


/* Styling of careers Section made by Halil  */
.careers {
    background-image: url("../images/img11.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

.careers .container p{
    width: 300px;
    list-style: height 22px;;
}

.careers .container {
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 100px;
    margin-right: 100px;
    text-align:left;
    padding: 20px 15px 20px 40px;
}

.careers .container h3 span {
    border: 1px solid  #fe9602;
    color: #fe9602;
    padding: 5px;

}

.careers .container h1 {
    padding-top:20px;
    padding-bottom: 40px;
}

.careers .careers-form {

    border: 1px solid white;
    color: black;
    background-color: white;
    padding: 5px;
    width: 180px;
    height: 180px;
    margin-top: 20px;
    margin-left: 700px;
}





/* End of Careers Section */

/* ********************************************************************************************** */
/* Styling of completed-projects Section made by Halil  */



/* End of completed-projects Section */

/* ********************************************************************************************** */

/* Styling of completed-projects Section made by Halil  */



/* End of completed-projects Section */

/* ********************************************************************************************** */

/* Styling of services Section made by Taha */



/* End of services Section */

/* ********************************************************************************************** */

/* Styling of testimonials Section made by Nasser */



/* End of testimonials Section */

/* ********************************************************************************************** */
/* Styling of latest-articles Section made by Halil */



/* End of latest-articles Section */

/* ********************************************************************************************** */
/* Styling of Contact Section made by Feras */



/* End of latest-articles Section */

/* ********************************************************************************************** */

/* Styling of Footer Section made by Sule */



/* End of Footer Section */

/* ********************************************************************************************** */