/* Golbal styling  */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}


/* Styling of the Navbar made by Sule  */



/* End of the Navbar */

/* ********************************************************************************************** */

/* Styling of the Home Section made by Firas*/



/* End of the Home Section*/

/* ********************************************************************************************** */

/* Styling of what-to-do Section made by Nasser  */


/*End of what-to-do Section */

/* ********************************************************************************************** */

/* Styling of pricing-table Section made by Taha */



/* End of pricing-table Section */

/* ********************************************************************************************** */


/* Styling of careers Section made by Halil  */



/* End of Careers Section */

/* ********************************************************************************************** */
/* Styling of completed-projects Section made by Halil  */



/* End of completed-projects Section */

/* ********************************************************************************************** */

/* Styling of completed-projects Section made by Halil  */



/* End of completed-projects Section */

/* ********************************************************************************************** */

/* Styling of services Section made by Taha */



/* End of services Section */

/* ********************************************************************************************** */

/* Styling of testimonials Section made by Nasser */



/* End of testimonials Section */

/* ********************************************************************************************** */
/* Styling of latest-articles Section made by Halil */



/* End of latest-articles Section */

/* ********************************************************************************************** */
/* Styling of Contact Section made by Feras */
.contact-us .free-trail {
    background-image: url(../images/contact-us-backround1.png);
    background-size: 100%;
    padding-top: 35vh;
    padding-bottom: 35vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.contact-us .free-trail .sub {
    font-size: 1em;
    text-transform: uppercase;
    margin-bottom: 2vh;
    font-weight: 900;
}

.contact-us .free-trail .main {
    padding: 0 15vw 0 15vw;
    text-align: center;
    font-size: 2em;
    text-transform: capitalize;
    font-weight: 900;
    margin-bottom: 2vh;
    width: 110%;
}

.contact-us .free-trail .contact-button {
    padding: 13px 25px;
    background: orange;
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    font-weight: 900;
    border-radius: 3px;
}

.contact-us .other {
    display: flex;
    flex-direction: row;
    padding-bottom: 3vh;
    border-bottom: 1px gray solid;
}

.contact-us .other .logo {
    font-weight: 900;
    color: orange;
    padding-right: 15px;
    padding-left: 15px;
    border-right: 1px solid rgb(179, 179, 179);
}

.contact-us .other .info {
    padding-left: 15px;
}

.contact-us .links {
    display: inline-block;
}

/* End of latest-articles Section */

/* ********************************************************************************************** */

/* Styling of Footer Section made by Sule */



/* End of Footer Section */

/* ********************************************************************************************** */