/* Golbal styling  */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}


/* Styling of the Navbar made by Sule  */



/* End of the Navbar */

/* ********************************************************************************************** */

/* Styling of the Home Section made by Firas*/



/* End of the Home Section*/

/* ********************************************************************************************** */

/* Styling of what-to-do Section made by Nasser  */


/*End of what-to-do Section */

/* ********************************************************************************************** */

/* Styling of pricing-table Section made by Taha */



/* End of pricing-table Section */

/* ********************************************************************************************** */


/* Styling of careers Section made by Halil  */



/* End of Careers Section */

/* ********************************************************************************************** */
/* Styling of completed-projects Section made by Halil  */



/* End of completed-projects Section */

/* ********************************************************************************************** */

/* Styling of completed-projects Section made by Halil  */



/* End of completed-projects Section */

/* ********************************************************************************************** */

/* Styling of services Section made by Taha */



/* End of services Section */

/* ********************************************************************************************** */

/* Styling of testimonials Section made by Nasser */



/* End of testimonials Section */

/* ********************************************************************************************** */
/* Styling of latest-articles Section made by Halil */



/* End of latest-articles Section */

/* ********************************************************************************************** */
/* Styling of Contact Section made by Feras */

.contact-us {
    padding: 20%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contact-us .free-trail .sub {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;

}

.contact-us .free-trail .main {
    text-transform: capitalize;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 30px;
}

.contact-us .free-trail .main span {
    color: orange;
}

.contact-us .contact-button {
    text-transform: capitalize;
    font-weight: bold;
    text-decoration: none;
    color: white;
    background: orange;
    padding: 0.7em 1.7em;
    border: orange 1px solid;
    border-radius: 3px;
}

/* End of latest-articles Section */

/* ********************************************************************************************** */

/* Styling of Footer Section made by Sule */



/* End of Footer Section */

/* ********************************************************************************************** */